.settings-display {
    display: flex;
    background-color: var(--bgc-display);
    box-shadow: inset 0 0 5px 1px var(--display-shadow);
    margin: 20px auto;
    width: 350px;
    height: 180px;
    border-radius: 10px;
    line-height: 55px;
    font-size: 15px;
    color: var(--settings-text-color);
    font-weight: bolder;
    align-items: center;
}

.settings-display div {
    flex-direction: column;
    align-self: center;
    width: 115px;
    margin-left: 35px;
    font-size: 20px;
}

.input {
    border: 3px solid #ffb803;
    outline: none;
    border-radius: 4px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 120px;
}

.input-error {
    border: 3px solid #ff0101;
    box-shadow: inset 0 0 15px #c71303;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    margin-right: 3px;
    cursor: pointer;
}

@media only screen and (max-width: 404px) {
    input[type=number]::-webkit-inner-spin-button {
        opacity: 1
    }
}